# Visual Studio / .NET
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.userosscache
**/*.sln.docstates
*.db
*.db-shm
*.db-wal

# Flutter / Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/pubspec.lock

# IDE & OS
.idea/
.vscode/
*.swp
*.DS_Store
Thumbs.db
